header,
footer {
    background-color: black;
    color: white;
    padding: 3px;
    text-align: center;
    font-size: 1.2em;
}

main {
    width: 400px;
    margin: auto;
}

main h1 {
    text-align: center;
}

main h2 {
    border-bottom: 1px solid black;
}

main img {
    box-shadow: 1px 1px 20px black;
    width: 100%;
}

main section {
    background-color: rgb(218, 216, 216);
    padding: 15px;
    margin: 20px 0;
}